button {
  font-size: 0.95rem;
  user-select: none;

  &:has(img) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &:hover {
    cursor: pointer;
  }

  & img {
    height: 100%;
    filter: invert(1);
    pointer-events: none;
  }
}