dialog.confirm .dialog-content {
  & .buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;

    & button {
      color: var(--light-text);
      background-color: var(--light-background);
      border: 2px solid var(--light-text);

      &.yes:hover {
        border-color: var(--green);
      }

      &.no:hover {
        border-color: var(--red);
      }
    }
  }
}