dialog.cv-list .dialog-content {
  & .list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 5px;

    & .cv {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      width: 100%;
      padding: 5px 20px;
      border-radius: 10px;
      border: 2px solid transparent;

      &.selected {
        background-color: var(--dark-background);
      }

      &:not(.selected):hover {
        border: 2px solid var(--light-text);
      }

      &:hover {
        cursor: pointer;
      }
    }
  }

  & .buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    padding: 0px 20px;
  }
}