.editor {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 20px;
  padding: 20px;
}

.editor-section,
.editor-section-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 15px;

  background-color: var(--dark-background);
  border-radius: 10px;
  padding: 10px;

  & .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    &:hover {
      cursor: pointer;
    }

    & .title {
      color: var(--light-text);
    }

    & button {
      height: 90%;
      background-color: inherit;
      border: none;
    }
  }

  & button.edit {
    background-color: var(--light-background);
    padding: 8px 15px;
    color: var(--light-text);
    font-size: 0.9em;
    border-radius: 10px;
    border: 1px solid var(--light-text);

    &:hover {
      border-color: transparent;
    }
  }

  & .manage-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;

    & button {
      background-color: var(--light-background);
      padding: 8px 20px;
      color: var(--light-text);
      font-size: 0.9em;
      border-radius: 10px;
      border: 2px solid var(--light-text);

      &.discard:hover {
        border-color: transparent;
      }

      &.save:hover {
        border-color: #00c34a;
      }
    }
  }

  & button.delete {
    align-self: stretch;
    background-color: var(--light-background);
    padding: 8px 15px;
    color: var(--light-text);
    font-weight: bold;
    font-size: 0.9em;
    border: 2px solid var(--light-text);
    border-radius: 10px;

    &:hover {
      border-color: #ff1100;
    }
  }

  & button.add {
    align-self: center;
    height: 30px;
    background-color: inherit;
    border: none;

    &:hover {
      filter: invert(40%) sepia(39%) saturate(5655%) hue-rotate(107deg) brightness(97%) contrast(102%);
    }
  }

  & .editor-list button.add {
    height: 25px;
  }
}

.editor-section-list .editor-section {
  border: 2px solid var(--light-text);
}