.content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 10px;
}

.editor-field,
.editor-list,
.view-field {
  color: var(--light-text);
  font-size: 1em;

  & input,
  & textarea {
    background-color: var(--light-background);
    color: var(--light-text);
    border-radius: 5px;
    border: none;
    padding: 5px;
  }

  & textarea {
    resize: vertical;
    overflow-y: hidden;
    min-height: 60px;
  }
}

.editor-field {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 5px;

  &:has(input[type='checkbox']) {
    flex-direction: row;
  }
}

.view-field {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 5px;

  & pre {
    white-space: pre-wrap;
  }
}
