.editor {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 20px;
  padding: 20px;

  & * {
    user-select: none;
  }
}

.editor-section,
.editor-section-list,
.cv-name {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 15px;

  background-color: var(--dark-background);
  border-radius: 10px;
  padding: 15px;
  font-size: 1.05rem;

  & .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    &:hover {
      cursor: pointer;
    }

    & .title {
      color: var(--light-text);
    }
  }

  & .manage-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  & button.add {
    align-self: center;
  }
}

.editor-section-list .content>button.add {
  height: 30px;
}

.editor-section-list .editor-section {
  border: 2px solid var(--light-text);
  font-size: 0.9rem;
}