.content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 12px;
}

.editor-field,
.editor-list,
.view-field {
  color: var(--light-text);
  font-size: 1rem;

  & input,
  & textarea {
    background-color: var(--light-background);
    color: var(--light-text);
    border-radius: 5px;
    border: none;
    padding: 6px;
    font-size: 0.9rem;
  }

  & textarea {
    resize: vertical;
    overflow-y: hidden;
    min-height: 60px;
  }

  & button.remove {
    background-color: inherit;
    border: none;
    height: 20px;

    &:hover {
      filter: invert(80%) sepia(85%) saturate(5827%) hue-rotate(358deg) brightness(97%) contrast(110%);
    }
  }
}

.editor-field {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 5px;

  &:has(input[type='checkbox']) {
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
  }

  & input[type="checkbox"] {
    transform: scale(1.1);
    accent-color: white;
  }

  & input[type="month"]::-webkit-calendar-picker-indicator {
    cursor: pointer;
    color: var(--light-text);
    background-color: var(--light-text);
    border-radius: 5px;
    padding: 3px;
  }

  & input[type="month"]::-webkit-datetime-edit {
    color: var(--light-text);
  }
}

.view-field {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 10%;

  font-weight: bold;
  padding-bottom: 2px;
  border-bottom: 1px solid var(--dark-text);

  &:last-of-type {
    border: none;
  }

  white-space: nowrap;

  & pre {
    font-weight: normal;
    text-align: justify;
    text-align-last: right;

    white-space: pre-wrap;
  }

  &.long {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 6px;

    & pre {
      text-align-last: auto;
    }
  }
}