@import url('https://fonts.googleapis.com/css?family=Ubuntu');
@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Inter');
@import url('https://fonts.googleapis.com/css?family=Onest');
@import url('https://fonts.googleapis.com/css?family=AR+One+Sans');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', 'Raleway', 'Lato', 'Inter', 'Onest', 'AR One Sans', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-decoration: none;
}

html {
  font-size: 16px;
  height: 100%;
}

a {
  color: black;
}