nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;

  & button {
    font-size: 1rem;
    font-weight: bold;
    padding: 8px 14px;
    border: 2px solid var(--dark-background);
    border-radius: 10px;
    color: var(--dark-background);
    background-color: var(--light-text);

    &:hover {
      cursor: pointer;
      border: 2px solid var(--red);
    }
  }

  & dialog {
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);

    padding: 20px;
    color: var(--light-text);
    background-color: var(--light-background);
    border: 2px solid var(--light-text);
    border-radius: 5px;
    text-align: center;

    & .dialog-content {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      gap: 10px;

      & .buttons {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 10px;

        & button {
          color: var(--light-text);
          background-color: var(--light-background);
          border: 2px solid var(--light-text);

          &.yes:hover {
            border-color: var(--green);
          }

          &.no:hover {
            border-color: var(--red);
          }
        }
      }
    }
  }
}