nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;

  &>button {
    font-size: 1rem;
  }

  & dialog {
    min-width: 40%;
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);

    padding: 20px;
    color: var(--light-text);
    background-color: var(--light-background);
    border: 3px solid var(--light-text);
    border-radius: 5px;
    user-select: none;

    & .dialog-content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: stretch;
      gap: 15px;
    }
  }
}