nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;

  &>button {
    font-size: 1rem;
  }

  & dialog {
    min-width: 40%;
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translate(-50%, 0%);

    padding: 20px;
    color: var(--light-text);
    background-color: var(--light-background);
    border: 3px solid var(--light-text);
    border-radius: 5px;
    user-select: none;

    & .dialog-content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: stretch;
      gap: 15px;
    }

    & button.close {
      height: 25px
    }

    &.cv-list {
      & .list {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch;
        gap: 5px;

        & .cv {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;

          width: 100%;
          padding: 5px 20px;
          border-radius: 10px;
          border: 2px solid transparent;

          &.selected {
            background-color: var(--dark-background);
          }

          &:not(.selected):hover {
            border: 2px solid var(--light-text);
          }

          &:hover {
            cursor: pointer;
          }
        }
      }

      & .buttons {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        width: 100%;
        padding: 0px 20px;
      }
    }

    &.user-settings {
      & .header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
      }

      & .settings-buttons {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: stretch;
        gap: 10px
      }

      & form {
        & .buttons {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          gap: 10px;
          margin-top: 15px;

          & button {
            flex-grow: 1;
          }
        }
      }
    }

    &.login {
      & form {
        & button {
          margin-top: 15px;
        }
      }

      & .buttons {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        & .tabs {
          display: flex;
          flex-direction: row;
          gap: 5px;

          & :focus {
            outline: none;
          }
        }
      }
    }

    &.user-settings,
    &.login {
      & form {
        display: flex;
        flex-direction: column;
        gap: 10px;

        & label {
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: stretch;
          gap: 5px;
          color: "var(--light-text)";
          font-size: 1rem;

          & input {
            background-color: white;
            color: black;
            border-radius: 5px;
            border: none;
            padding: 6px;
            font-size: 0.9rem;

            &:focus {
              outline: none;
            }

            &:has(+ div.error-message) {
              outline: 2px solid red
            }
          }

          & .error-message {
            color: var(--red);
            font-size: 0.9rem;
            margin-top: -2px;
          }
        }
      }
    }
  }
}