.editor {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 20px;
  padding: 20px;

  overflow-y: auto;
}

.editor-section,
.editor-section-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 15px;

  background-color: var(--dark-background);
  border-radius: 10px;
  padding: 15px;
  font-size: 1.05rem;

  & .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    user-select: none;

    &:hover {
      cursor: pointer;
    }

    & .title {
      color: var(--light-text);
    }
  }

  & .manage-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;

    &>button {
      &:nth-child(1) {
        justify-self: right;
      }

      &:nth-child(2) {
        justify-self: left;
      }
    }
  }

  & button.add {
    align-self: center;
  }
}

.editor-section-list .content>button.add {
  height: 30px;
}

.editor-section-list .editor-section {
  border: 2px solid var(--light-text);
  font-size: 0.9rem;
}

.editor-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 5px;

  & .list-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 5px;

    & input {
      flex-grow: 1;
    }
  }
}

.editor-field,
.editor-list,
.view-field {
  color: var(--light-text);
  font-size: 1rem;

  & input,
  & textarea {
    background-color: var(--light-background);
    color: var(--light-text);
    border-radius: 5px;
    border: none;
    padding: 6px;
    font-size: 0.9rem;
  }

  & textarea {
    resize: none;
    overflow-y: hidden;
    width: 100%;
  }
}

.editor-field {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 5px;

  &:has(input[type='checkbox']) {
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
  }

  & input[type="checkbox"] {
    transform: scale(1.1);
    accent-color: white;
  }

  & input[type="month"]::-webkit-calendar-picker-indicator {
    cursor: pointer;
    color: var(--light-text);
    background-color: var(--light-text);
    border-radius: 5px;
    padding: 3px;
  }

  & input[type="month"]::-webkit-datetime-edit {
    color: var(--light-text);
  }
}

.view-field {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 10%;
  font-weight: bold;
  padding-bottom: 2px;
  border-bottom: 1px solid var(--dark-text);

  &:last-of-type {
    border: none;
  }

  white-space: nowrap;

  & pre {
    font-weight: normal;
    text-align: right;
    white-space: pre-wrap;
  }

  &.long {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 6px;

    & pre {
      text-align: justify;
    }
  }

  & .list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 5px;

    list-style-type: none;

    &.normal {
      & pre {
        list-style-position: inside;
        display: list-item;
        position: relative;
        padding-left: 15px;

        &::before {
          content: "\2022";
          position: absolute;
          left: 0;
        }
      }
    }

    &.simple {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-end;
      gap: 5px;
    }
  }
}

.editor-section,
.editor-section-list {
  & .content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 12px;
  }
}

.cv-name {
  font-size: 1.7rem;
  font-weight: bold;

  & input {
    font-size: 1.4rem;
  }
}