.editable-field {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 15px;

  background-color: var(--light-background);
  color: var(--light-text);
  padding: 0 0 0 10px;
  border-radius: 10px;

  &:has(input) {
    padding: 0;
  }

  & .manage-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
  }

  & input {
    width: 100%;
    font-size: 1.1rem;
    margin: -5px 0;
    padding: 8px;
    border: none;
    border-radius: 8px;
    color: var(--light-text);
    background-color: var(--dark-background);
  }
}